html, body {
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    height: 100%;
    width: 100%;
    
/*
    background-image: url(Desktop%20-%20Horse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
}

* {
    margin: 0;
    padding:0;
}

#wrapper {
    min-width: 900px;
    max-width: 50%;
    height: 100%;
    margin: auto;
    opacity: 0.95;
   
}

#header {
    position: relative;
    height: 60px;
}

#header img {
    position: absolute;
    top: 13px;
}

#inputs { 
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
}

#inputs img {
    height: 27px;
}

input[type="text"] {
   
}

#table {
    width: 100%;
    float:left;
    clear:both;
    margin-top: 20px;  
    border-collapse: collapse;
}

/* Table Header */
.tableHeader {
    background-color: #456390;
    color: #ffffff;       
}
.tableHeader td {
    border: solid;
    border-width: 2px;
    border-color: #b7b7b7;
    padding: 5px;
    cursor: pointer;
}
.highlighted {
    background-color: #657fa7;
    color: #ffffff;
}

/* Contact Rows */
.tableRow {
    background-color: #e7f0ff;
    color: #1b3155;  
}

.tableRow td {
    border: solid;
    border-width: 2px;
    border-color: #acacac;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#searchIcon {
    height: 20px;
    position: absolute;
    right: 0;
}

#searchBox {
    margin-left: 5px;
    position: absolute;
    right: 32px;
    font-size: 20px;
}

#firstNameHead {
    width: 20%;
}

#secondNameHead {
    width: 20%;
}

#internalHead {
    width: 10%;
}

#externalHead {
    width: 20%;
}

/*ADMIN*/
#adminConsole {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #717176;
    z-index: 5;
    margin: 0;
    padding: 0;
    text-align: center;
}

#conTitle {
    text-align: center;
}

#adminConsole button {
    width: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    background-color: #21252e;
    font-size: 100%;
    border-radius: 5px;
    color: #fddfdf;
}

#testingtableHeader {
    background-color: aqua;
}

.testingtableRows {
    background-color: aqua;
}


