html, body {
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    height: 100%;
    width: 100%;
    
/*
    background-image: url(Desktop%20-%20Horse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
}
* {
    margin: 0;
    padding:0;
}
#loading{
	width: 100%;
	height: 100%;
	align-items: center;
}
#loading img {
	
}
#wrapper {
    min-width: 900px;
    max-width: 50%;
    height: 100%;
    margin: auto;
    opacity: 0;
    
}
#header {
    position: relative;
    height: 60px;
}
#header img {
    position: absolute;
    top: 13px;
}
#inputs { 
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
}
#inputs img {
    height: 27px;
}
#table {
    width: 100%;
    float:left;
    clear:both;
    margin-top: 20px;
    margin-bottom: 100px;
    border-collapse: collapse;
}
/* Table Header */
.tableHeader {
    background-color: #456390;
    color: #ffffff;       
}
.rowHeader {
    border: solid;
    border-width: 2px;
    border-color: #b7b7b7;
    padding: 5px;
    cursor: pointer;
}
.rowHeaderHighlighted {
    background-color: #426fad;
    border: solid;
    border-width: 2px;
    border-color: #b7b7b7;
    padding: 5px;
    cursor: pointer;
}
/* Contact Rows */
.tableRows {
    background-color: #e7f0ff;
    color: #1b3155;  
    height: 30px;
}
.tableCells {
    border: solid;
    border-width: 2px;
    border-color: #acacac;
    padding: 5px;
    height: 30px;
    margin: 0;
}
#searchIcon {
    height: 20px;
    position: absolute;
    right: 0;
}
#searchBox {
    margin-left: 5px;
    position: absolute;
    right: 32px;
    font-size: 20px;
}
#FirstName {
    width: 20%;
}
#SecondName {
    width: 20%;
}
#internal {
    width: 10%;
}
#external {
    width: 20%;
}

/*ADMIN*/
#adminConsole {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #717176;
    z-index: 5;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ffffff;
}
#conTitle {
    text-align: center;
}
#adminConsole button {
    width: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    background-color: #21252e;
    font-size: 100%;
    border-radius: 5px;
    color: #fddfdf;
}




