html, body {
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    height: 100%;
    width: 100%;
    
/*
    background-image: url(Desktop%20-%20Horse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
}
* {
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}
body {
    overflow-y: scroll;
}

.tableCells:focus {
    outline: 1px solid #497BAE;
    background-color: #FFF0F3;
}

#loading{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1002;
}
#loading img {
	position: absolute;
	left: 46%;
	top: 43%;
	height: 70px;
}
#scrollUp {
	position: fixed;
	right: 5%;
	bottom: 10%;
	width: 100px;
	height: 100px;
	opacity: 0.4;
	display: none;
}
#scrollUp img {
	height:100%;
	width: 100%;
}
#wrapper {
    min-width: 900px;
    max-width: 50%;
    margin: auto; 
}
#header {
    position: relative;
    height: 60px;
}
#header img {
    position: absolute;
    top: 13px;
}
#inputs { 
    width: 100%;
    height: 27px;
    position: relative;
    display: flex;
    align-content: center;
    overflow: visible;
}
#inputs img {
    height: 27px;
}
#title {
    /*font-family: 'Dosis', sans-serif;*/
    font-weight: 300;
    height: 100%;
    font-size: 34px;
    color: #5C5C5C;
    line-height: 90%;
    width: 200px;
}
#pl {
    margin-left: 120px;
    height: calc(100% - 10px);
    width: 37px;
    padding: 5px;
    border: 2px solid #777777;
    border-radius: 7px 0 0 7px;
    background-image: url(phone.png);
    background-size: contain;
    background-origin:content-box;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;   
    outline: none;
}
#fp {
    height: calc(100% - 4px);
    width: 43px; 
    border: 2px solid  #777777;
    border-radius: 0px 7px 7px 0px;
    padding: 2px;
    background-image: url(people.png);
    background-size: contain;
    background-origin:content-box;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -2px;
    user-select: none;
    outline: none;
}
.toggle{
    cursor: pointer;
}
.toggleSelected {
    background-color: #E4E4E4;
    cursor: default;
}

#table {
    width: 100%;
    float:left;
    clear:both;
    margin-top: 50px;
    margin-bottom: 100px;
    border-collapse: collapse;
    border-collapse: collapse;
}
/* Table Header */
.tableHeader {
    background-color: #456390;
    color: #ffffff;  
}
.rowHeader {
    border: solid;
    border-width: 2px;
    border-color: #b7b7b7;
    padding: 5px;
    cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.rowHeaderHighlighted {
    background-color: #43699d;
    border: solid;
	color: #ffffff;
    border-width: 2px;
    border-color: #b7b7b7;
    padding: 5px;
    cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Contact Rows */
.tableRows {
    background-color: #e7f0ff;
    color: #263D61;  
    height: 25px;
}
.tableCells {
    border: solid;
    border-width: 2px;
    border-color: #acacac;
    padding: 3px;
    padding-left: 5px;
    height: 30px;
}
#searchIcon {
    height: 20px;
    position: absolute;
    right: 0;
}
#searchBox {
    margin-left: 5px;
    position: absolute;
    right: 32px;
    font-size: 20px;
}
#FirstName {
    width: 20%;
}
#SecondName {
    width: 20%;
}
#internal {
    width: 10%;
}
#external {
    width: 20%;
}

/* FloorPlan */
#floorplan {
    display: none;
    max-width: 100%;
    min-width: 900px;
    margin: auto;
    padding-top: 80px;
    margin-bottom: 100px;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
     -ms-user-select: none;       /* Internet Explorer/Edge */
     user-select: none;  
}

#floorButtonWrap {
    height: 100%;
    display: none;
    margin-left: 60px;
}
.floorButtons {
    float:left;
    text-align: center;
    line-height: 110%;
    height: calc(100% - 10px);
    width: 120px;
    padding: 5px;
    border: 2px solid #777777;
    border-collapse: collapse;
    cursor: pointer;
    font-weight: 400;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
     -ms-user-select: none;       /* Internet Explorer/Edge */
     user-select: none;  
}
.floorHigh {
    background-color: #E4E4E4;
    cursor: default;
}
#mainFloor {
    border-radius: 7px 0 0 7px;
}
#meeting {
    border-radius: 0px 0 0 0px;
    margin-left: -2px;
}
#second {
    border-radius: 0px 7px 7px 0px;
     margin-left: -2px;
}

/*ADMIN*/
#adminConsole {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #afafaf;
    z-index: 5;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0 0px 30px 0px #b4b4b4;
}
a {
    text-decoration: none;
    color: #ffffff;
}
#conTitle {
    text-align: center;
}
#adminConsole button {
    width: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
    background-color: #ffffff;
    font-size: 100%;
    border-radius: 2px;
    color: #383838;
    box-shadow: none;
    border: none;
    font-family: 'Cousine', ;
    font-weight: bold;
    outline: none;
    transition-duration: 0.05s;
}
#adminConsole button:hover {
    background-color: #383838;
    color:#ffffff;
}

#adminConsole button:active {
    background-color: #ffffff;
    border: 2px solid #383838;
    color: #383838;
    outline: none;
}

#fade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: 99;
	align-content: center;
	justify-content: center;
	display: none;
}
#confirm {
	position: fixed;
	left: calc(50% - 150px);
	top: calc(50% - 100px);
	width: 320px;
	height: 120px;
	background-color: #ffffff;
	color: #676767;
	opacity: 1.0;
	z-index: 100;
	border-radius: 2px;
	display: none;
    box-shadow: -5px 5px 60px 5px #383838;
}
#confirmMessage {
	text-align: center;
	padding: 10px;
    padding-bottom: 0px;
    font-size: 110%;
}
.confirmButton {
	width: 117px;
	height: 30px;
	margin-left: 7%;
	border-radius: 2px;
	color: #ffffff;
    border: none;
    background-color: #484848;
}

.confirmButton:active {
    background-color: #7b7b7b;
}

#loginWrapper {
    width: 100%;
    height: 100%;
    background-color: #383838;
    color: aliceblue;
    padding: 10%;
    font-size: 90%;
}

#loginWrapper input:focus {
   outline-color: #ff2a2a;
}

h2 {
    font-size: 180%;
}

#logIn {
    width: 80px;
    height: 25px;
}
#horse {
    height: 500px;
    width: auto;
    margin-left: 900px;
    
}

select {
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: #F8FBFF;
    color: #1b3155; 
}

option {
    padding: 6px;
    border-bottom: 1px solid #E0E0E0;
}


